 .intro { /* Requirement-2.C */
    font-size: 23px; /* Requirement-2.1 */
    font-weight: bold;
    color: purple; /* Requirement-2.3 */
    background-color: black;
    border-style:ridge; /* Requirement-2.5 */
    border-color: violet;
    width: 50%; /* Requirement-2.10 */
    height: 60px; /* Requirement-2.7 */
    overflow:auto; /* Requirement-2.14 */
    margin-left: 400px; /* Requirement-2.6 */
    text-decoration: underline; /* Requirement-2.2 */
}

.style {
    color: magenta;
    background-color: black;
    border-style:ridge;
    border-color: violet;
    margin: 90px; /* Requirement-2.9 */
}

.liststyle{
    list-style: circle; /* Requirement-2.8 */
    color: magenta;
    background-color: black;
    border-style:ridge;
    border-color: violet;
    margin: 90px;
    display:table-row-group; /* Requirement-2.12 */
}

.linkstyle {
    color: magenta;
    background-color: black;
    border-style:ridge;
    border-color: violet;
    margin: 90px;
}


img { /* Requirement-2.A */
    border-radius: 10%;
    float:left; /* Requirement-2.11 */
}

.border {
    background-color: black;
    border-style:ridge;
    border-color: violet;
    color: violet;
}

summary {
    clear:left; /* Requirement-2.13 */
    margin: 40px;
}

.looking {
    position: fixed; /* Requirement-2.15 */
    right: 30px;
    top: 40px;
    z-index: -1; /* Requirement-2.17 */
}

table {
    visibility: collapse; /* Requirement-2.16 */
}

h1, li { /* Requirement-2.B */
    color: rebeccapurple;
}

#red{ /* Requirement-2.D */
    color: red;
}

a:visited{ /* Requirement-2.E */
    color:palevioletred
}

div p{ /* Requirement-2.F */
    color: blue
}